---
layout: handbook-page-toc
title: ModelOps
description: "The ModelOps group is focused in two areas: leveraging ML in the GitLab product and preventing against insider threats."
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

## Groups

* [Applied ML](./appliedml)
* [Insider Threat](./insiderthreat)

### Business Continuity - Coverage and Escalation

The following table shows who will provide cover if one or more of the Modelops Engineering management team are unable to work for any reason.

| Team Member        | Covered by             | Escalation     |
| -----              | -----                  | -----          |
| Wayne Haber        | Christopher Lefelhocz  | Eric Johnson   |
| Phil Calder        | Kamil Niechajewicz     | Wayne Haber    |
| Jay Swain          | Phil Calder            | Wayne Haber    |
| Monmayuri          | Wayne Haber            | Wayne Haber    |

If an issue arises  - such as a production incident or feature change lock - that a team member needs management support with when their direct manager is not online, the team member should reach out to any Modelops Engineering Manager by mentioning in `#s_modelopsg`. The Modelops manager can help the team member follow the process and co-ordinate to ensure the team member has the necessary support.

If an Engineer is unavailable the Engineering Manager will reassign open issues and merge requests to another engineer, preferably in the same [group](#all-team-members).

Some people management functions may require escalation or delegation, such as BambooHR and Expensify.

This can be used as the basis for a business continuity plan (BCP),
as well as a general guide to ModelOps Engineering continuity in the event of one or more team members being unavailable for any reason.

## Dashboards

<%= partial "handbook/engineering/metrics/partials/_cross_functional_section_dashboard.erb", locals: { filter_value: "ModelOps" } %>
